
body {

}

.world{
  margin: 0 auto;
  text-align: center;
  padding: 5px 5px;
  width: 100px;
}

.kirby{
  background-color: #ff99cc;
  height: 100px;
  width: 100px;
  box-shadow: 3px 3px #000000;
  border-radius: 1000px;
  text-align: center;
  cursor: pointer;
}

.kirby:active{
  box-shadow: none;
  position: relative;
  top: 3px;
  left: 3px;
  background-color: #c83e69;
}


.kirby h1{
  font-size: 50px;
  color: #3366cc;
  width: 100%;
  letter-spacing: 5px;
  position: relative;
  top: 10%;
}

.kirby h3{
  color: white;
  margin-left: 7px;
  letter-spacing: 15px;
  width: 100%;
  position: relative;
  top: -160%;
}

.kirby p{
  color: #ff6699;
  width: 100%;
  letter-spacing: 5px;
  font-size: 30px;
  position: relative;
  top: -80%;
}

.kirby span{
  color: #cc0000;
}

.sample {
  margin-top: 10px;
  color: black;
}

.sample p{
    font-size: 8px;
    font-weight: bold;
    border: 1px solid #000000;
    padding: 2px
}
